@model ShoroukAcademy.ShaTask.Models.Models.Cashier

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف موظف</h1>

<div>
    <h4>الموظف @Html.DisplayFor(model => model.CashierName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            الاسم
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashierName)
        </dd>
        <dt class = "col-sm-2">
            الفرع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> 
        <br />
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
